@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-poppins), sans-serif;
    color: white;
  }
}

.Toastify__toast-container--top-right {
  top: 5rem !important;
}
